*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
header {
    width: 100%;
    background-color: #6e93b8;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom:solid 2px #000000;
    justify-content: space-between;
    padding: 15px 30px;
}
header a {
    text-decoration: none;
    color: #f8f5f0;
    
}
.registro {
    display: flex;
    gap: 30px;
    align-items: center;
}

body {
    background-color: #f8f5f0;
}
header img {
    width: 80px;
}

.catalogo{
    margin: 20px;
    padding: 20px 60px 20px 5px;
    background-color: #a9c4de;
    border-radius: 20px;
    border: solid 2px black;
}

.navegacionhorizontal {
    text-emphasis: none;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.imagenes {
    width: 150px;
    height: 150px;
}
article {
    width: 150px;
    justify-content: space-between;
}
main {
   width: 100%;
}
main h1 {
    text-align: center;
    margin-bottom: 20px;
}
.productos-masvendidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}
.productos-recomendados{
   display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;

}
.productos-masvendidos h1 {
    margin-top: 20px;
    flex-basis: 100%;
}
.productos-recomendados h1 {
    flex-basis: 100%;
    margin-top: 30px;
}
.contenido{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.detalle {
    text-decoration: none;
    color: #342b1c;
    border: solid 1px #000000;
    background-color: #a9c4de;
    
}
.categorias {
    border-bottom: 1px solid gray;
    margin: 10px 0px;
    color: black;
}
.logo {
    border-radius: 70px;
}
.detalle-producto {
    display: flex;
    width: 750px;
    gap: 30px;
    align-items: center;
}
.detalle-producto div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.reviews {
    flex-basis: 100%;
    justify-content: center;
    gap: 10px
}
.reviews article {
    width: 30%;
    background-color: #997c5f;
    border: solid 1px #000000;
}
.reviews h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    flex-basis: 100%;
    text-align: center;
    text-transform: uppercase;
}
.imagen-detalle {
    margin-top: 25px;
    width: 450px;
    height: 525px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #a9c4de;
    height: 50px;
    margin-top: 50px;
    gap: 30px;
    padding: 15px;
}
.integrantes {
    margin: 0px;
}